body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  border: none;
}

address {
  font-style: normal;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  color: #4D5AE5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-color {
  color: #2E2F42;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-item {}

.header-menu-link {
  color: #2E2F42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.header-menu-list a:hover,
.header-menu-list a:focus {
  color: #404bbf;
}

.header-soc-net {}

.header-soc-list {
  display: flex;
  gap: 40px;
}

.header-soc-item {}

.header-soc-link {
  color: #434455;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-soc-list .header-soc-link:hover,
.header-soc-list .header-soc-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2E2F42;
  padding: 188px 0;
}

.hero-container {}

.hero-title {
  color: #FFF;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  color: #FFF;
  background-color: #4D5AE5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero .hero-btn:hover,
.hero .hero-btn:focus {
  background-color: #404BBF;
}

.features {
  padding: 120px 0;
}

.features-container {}

.features-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  display: flex;
}

.features-item-text {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team {
  background-color: #F4F4FD;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team-container {}

.our-team-title {
  color: #2E2F42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.our-team-item {
  background-color: #FFFFFF;
  border-radius: 4px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.our-team-card {
  padding: 32px 0;
  border-top: none;
}

.our-team-images {
  width: 100%;
}

.our-team-subtitle {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.our-team-text {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio-container {}

.our-portfolio-title {
  color: #2E2F42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.our-portfolio-li {
  width: calc((100% - 48px) / 3);
}

.our-portfolio-images {}

.our-portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-subtitle {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-portfolio-item-text {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background: #2E2F42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  color: #4D5AE5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-color {
  color: #F4F4FD;
}

.footer-text {
  color: #F4F4FD;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}